<!DOCTYPE html>
<html lang="zh-TW">
<link rel="stylesheet" href="/static/css/style.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>資管導論 -時間</title>
</head>

<body>
<header>
  <div class="header-container">
    <div class="title">資訊管理導論＿陳恩儒</div>
    <nav>
      <ul>
          <li><a href="/">首頁</a></li>
          <li><a href="/mis">MIS</a></li>
          <li><a href="/today">顯示日期時間</a></li>
          <li><a href="/welcome?nick=EJ.C">傳送使用者暱稱</a></li>
          <li><a href="/account">傳網頁表單傳值</a></li>
          <li><a href="/about">關於我</a></li>
      </ul>
    </nav>
  </div>
</header>
  <p>現在日期時間為： {{ datetime }} </p>
</body>
<footer>
  <p>&copy; 2025 靜宜資管 陳恩儒 - 版權所有</p>
</footer>
</html>
